<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title></title>
  </head>
  </body>
  <div class="wrapper">
    <%@products.each do |product| %>
    <div class="photo_products">
      <%= link_to(image_tag(product.image.url), product) %>
    </div>
    <%end%>
    </body>
  </body>

</html>
