<!DOCTYPE html>
<html>
  <head>
    <title>Rainforest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">
  </head>
  <div id="container">
    <div id= "header">
      <header>
        <ul class= "a-main-header__homepage">
          <li class="text"><p>Rainforest: A Product Selling Platform</p></li>
          <li class="icon"><i class="fa fa-user-o" aria-hidden="true" fa-5x></i></li>
        </ul>
      </header>
    </div>
    <div id="body">
      <body>
        <%= yield %>
      </body>
    </div>
    <div id="footer">
      <div class = "footer">
        <p>Post a Product, Leave a Review<p>
      </div>
    </div>
  </div>
</html>
